*{
    margin:0;
}

/* banner-section */
.banner{
    background-image: url('../images/donation11.jpg');
    height:70vh;
    background-repeat: no-repeat;
    background-size: cover;
   text-align: center;
   color:rgba(255, 255, 255, 0.977);
   background-position: center;
   padding-top: 500px;
   background-image:
   linear-gradient(to bottom, rgba(240, 246, 243, 0), rgba(00, 0, 0, 1)),
   url('../images/donation11.jpg');}
.banner h1{
    font-size: 90px; 
}
.banner p{
    font-size: 30px;
}
.banner button{
    margin:30px;
    padding:20px;
    font-size:30px;
    background-color:rgb(199, 123, 16);
    border-radius: 10px;
    color:rgba(240, 248, 255, 0.827);
}
.banner-down{
    text-align: center;
    padding-top:200px;
}
.banner-down h3{
    font-size:50px;
    margin-top:60px;
    padding-top: 30px;
}

.banner-down p{
    font-size:30px;
    padding-top: 40px;
}
.donation{
    display:flex;
    justify-content: center;
    margin-top:30px;
    gap:40px;
    font-weight:600;
    font-size: 50px;
    box-shadow: 50px;
    

}
.donation div{
    background-color: blanchedalmond;
    padding:50px;
} 

.donationAmt{
    display: flex;
    justify-content: center;
    margin-top:100px;
    margin-bottom: 50px;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.donationAmt input{
    font-size: 50px;
    border: none;
    border-bottom: 1px solid grey;
    text-align: center;
    width: 75%;
}
.donation-btn{
    margin:30px;
    padding:20px;
    font-size:30px;
    background-color:rgba(199, 123, 16, 0.892);
    border-radius: 10px;
    color:rgba(240, 248, 255, 0.907);

    }

    /* donation plan styles */

    .donation-sector{
        display: flex;
        justify-content:space-between;
        margin:50px   200px;
        /* width:30px 100px; */
        
    
    }


    .donation-title{
        font-size:80px;
        font-weight:600;
        font-size: 50px;
        text-align: center; 
        margin-bottom: 30px;
    }

    .donation-description{
        text-align: center;
        font-size: 26px;
        color:rgb(105, 108, 110)
        
        

    }

    .donation-sector .donation-sub-title{
        font-size: 30px;
        font-weight: 900;
        margin:20px 0;
        
    }
    /* donation sector styles */

    .food{
        padding:90px;
        background-color:rgba(186, 203, 219, 0.364);
        margin-right:40px;
    }
    .shelter{ 

        padding:90px;
        margin-right:40px;
        background-color:rgba(236, 196, 216, 0.603);

    }
    .education{

        padding:90px;
        margin-right:40px;
        background-color: rgba(231, 213, 182, 0.557);


    }
    .donation-sector .sector-description{
        font-size: 25px;
    }

    /* contribute section styles */

    .contribute-section{
        display: flex;
        margin: o 200px;
        justify-content: space-around;
        padding: 50px  250px;

    }
    .contribute-left{
        margin-left: 20px;
    }

    .contribute-left h3 ,.contribute-right-section h3{
        font-size:50px;
        margin-bottom: 25px;

    }
    .contribute-left p , .contribute-right-section p {
        font-size:25px;
        margin-bottom: 35px;

       

    }

    .btn-primary{
        margin:30px;
        padding:20px;
        font-size:30px;
        color:white;
        background-color: rgba(219, 12, 12, 0.689);
        border:none;
        border-radius: 5px;
    
    }
    /* contribute section2 */

    .contribute-section-2{

        display: flex;
        margin: o 200px;
        justify-content: space-around;
        padding: 100px  250px;

    }

    .pic{
        margin-right: 90px;
    }

    /* get my updates styles */
     
    .updates{
        display: block;
        justify-content: space-around;
        padding: 0 400px; 
        margin-bottom: 100px;


    }
    .updates-uppersite h3{
        font-size:50px;
        margin-bottom: 55px;
        text-align: center;


    }
    .updates-uppersite p{
        font-size:25px;
        margin-bottom: 65px;
        text-align: center;


    }
    .updates-lowersite{
        text-align: center;
        background-color: rgba(243, 212, 172, 0.879);
        padding: 50px;

    }
    .email{
        padding:20px;
        font-size:30px;
        border: none;


    }
    .updates-lowersite input{
        margin-right: 0;
    }
    .updates-lowersite button{
        margin-left: 0;
        border: none;
        border-radius: 0px 5px 5px 0;

    } 
    /* footer section styles */
    footer{
        background-color: black;
        text-align: center;
        padding: 50px;
        
    }
    footer h4{
        color:rgb(255, 25, 0);
        font-size: 40px;
        font-weight: 900;
        margin-bottom: 20px;
    }
    footer p{
        font-size: 18px;
        font-weight: 400;
        color:white;


    }
    

    



